<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- REMOTE operations -->
	<!-- TODO esto se debe configurar en un nodo propio de ontimize y hacer 
		que se lea de una propiedad del sistema al menos el nombre del host -->

	<bean id="remoteOperationURI" class="java.net.URI">
		<constructor-arg>
			<value>${serviceBaseUrlWS}/${server-context}/services/remoteOperation</value>
		</constructor-arg>
	</bean>

	<!-- HESSIAN configuration -->
	<bean id="hessianSerializerFactory" class="com.ontimize.jee.common.hessian.CustomSerializerFactory"
		lazy-init="true">
	</bean>
	<bean id="hessianProxyFactory"
		class="com.ontimize.jee.common.hessian.OntimizeHessianProxyFactory"
		lazy-init="true">
		<property name="serializerFactory" ref="hessianSerializerFactory" />
	</bean>

	<!-- User information stored in server -->
	<bean id="userInformationService"
		class="com.ontimize.jee.common.hessian.OntimizeHessianProxyFactoryBean"
		lazy-init="true">
		<property name="proxyFactory" ref="hessianProxyFactory" />
		<property name="serviceRelativeUrl"
			value="/${server-context}/services/hessian/userinformationservice" />
		<property name="serviceInterface"
			value="com.ontimize.jee.common.services.user.IUserInformationService" />
	</bean>

	<!-- cerrar sesiones -->
	<bean name="SessionService"
		class="com.ontimize.jee.common.hessian.OntimizeHessianProxyFactoryBean"
		lazy-init="true">
		<property name="proxyFactory" ref="hessianProxyFactory" />
		<property name="serviceRelativeUrl"
			value="/${server-context}/services/hessian/sessionService" />
		<property name="serviceInterface"
			value="com.ontimize.jee.common.services.session.ISessionService" />
	</bean>


	<!-- Server management service -->
	<bean name="ServerManagementService"
		class="com.ontimize.jee.common.hessian.OntimizeHessianProxyFactoryBean"
		lazy-init="true">
		<property name="proxyFactory" ref="hessianProxyFactory" />
		<property name="serviceRelativeUrl"
			value="/${server-context}/services/hessian/serverManagement" />
		<property name="serviceInterface"
			value="com.ontimize.jee.common.services.servermanagement.IServerManagementService" />
	</bean>

</beans>
